

.about-info {
    margin: 20px;
    font-size: 18px;
    line-height: 20px;
}

.img-history {
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 3px 3px #000000;
    float: right;
    margin-left: 10px;
    margin-right: 20px;    
    margin-bottom: 10px;
    min-width: 550px;
    min-height: 400px;
}

th {
    background-color: #a69d6f;
    width: 100px;
    border: 1px solid #000000;
    padding: 4px;
}

.table {
    background-color:#fae9e9 ;
    font-size: 25px;
    border: 2px solid #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #000000;
    width: 400px;
    height: 280;
    float: left;
}

td {
    border: 2px solid #000000;
    padding: 4px;
}

.dem-info {
    margin: 20px;
    font-size: 18px;
    line-height: 20px;
}
