page-home {

}

ion-title {
    font-size: 48px;                                                                       ;
}


ion-card:hover {
    transform: scale(1.03);
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      width: 1000px;
      height: 450px;
      margin: 0 auto;
      margin-bottom: 30px;
      align-items: center;
    }
    
    .text {
        position: absolute;
        width: 600px;
        height: 180px;
        left: 210px;
        top: 124px;
        background: rgba(41, 39, 39, 0.5);
        border-radius: 20px;
    }

    .about {
      position: absolute;
      top: 90%;
      right: 10px;
      bottom: 40px;
      width: 40px !important;
      height: 35px !important;
      font-size: 30px;
      color: #fff;
      background-color: rgba(41, 39, 39, 0.5);
      border-radius: 50px;
    }

    .card-title {
      position: absolute;
      top: 2%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }
  
    .card-subtitle {
      font-size: 1.3em;
      position: absolute;
      top: 28%;
      width: 100%;
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 1px #000;
      padding-right: 10px;
      padding-left: 10px;
    }
  
  }